@use '../abstracts';

// Showcase
.showcase__section {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: abstracts.$color-primary-200;
}
.showcase__title {
  font-size: 7rem;
}
.showcase__subtitle {
  font-size: 2rem;
}

// Services
.services__section {
  padding: 5rem 10rem;
}
.service {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.service__title {
  //   background-color: red;
  margin: 0;
}
.service__paragraph,
.service__list {
  //   background-color: blue;
  margin: 0;
  padding-left: 3rem;
}

// Testitmonials
.testimonials__title {
  margin: 0;
  padding: 0;
  padding-bottom: 2rem;
  text-align: center;
}
.testimonial {
  margin-bottom: 2rem;
}
.testim_pacient {
  margin: 0;
  padding: 0;
  font-style: italic;
}
.testim_paragraph {
  margin: 0;
  padding: 0;
  font-style: italic;
}

@media (max-width: map-get(abstracts.$breakpoints, 'small')) {
  .services__section {
    padding: 5rem 1rem;
  }

  // Showcase
  .showcase__section {
    height: 80vh;
    padding: 0;
  }
  .showcase__title {
    font-size: 3rem;
    text-align: center;
  }
  .showcase__subtitle {
    font-size: 1.5rem;
    text-align: center;
  }

  .service {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }
  .service__title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .service__paragraph,
  .service__list {
    text-align: center;
    padding: 0;
  }

  // Testitmonials
  .testimonials {
    margin: 0;
    padding: 0 1rem;
  }
  .testimonials__title {
    font-size: 2rem;
  }
  .testimonial {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column-reverse;
  }
  .testim_pacient {
    font-size: 1.2rem;
    text-align: end;
  }
  .testim_paragraph {
    font-size: 1.2rem;
    text-align: justify;
  }
}
