// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

@use '../abstracts';

.header {
  background-color: abstracts.$color-primary-400;
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.logo_container {
  height: 100%;
  display: flex;
  //   background-color: blue;
  align-items: center;
  justify-content: center;
  padding: 5px;
  .logo_img {
    height: 100%;
    margin-right: 3px;
  }
  .logo_name {
    color: white;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
}

.navbar {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;

  .nav_item {
    flex: 1;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.--current {
  background-color: abstracts.$color-primary-900;
}
