// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

@use '../abstracts';

.header {
  background-color: abstracts.$color-primary-400;
  display: flex;
  justify-content: space-between;
  height: 60px;
  position: sticky;
  top: 0;
}

.logo_container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
  flex: 1;
  .logo_img {
    height: 100%;
    margin-right: 3px;
  }
  .logo_name {
    color: white;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
}
.button__container {
  flex: 1;
  display: flex;
  margin: 0;
  padding: 0;
}
.header_btn {
  margin: 0;
  padding: 0 2rem;
  border: none;
  cursor: pointer;
}
.header_navbar {
  flex: 1;
}
.navbar {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;

  .nav_item {
    flex: 1;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.--current {
  background-color: abstracts.$color-primary-600;
}

@media (max-width: map-get(abstracts.$breakpoints, 'small')) {
  .header {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .logo_container {
    justify-content: center;
    .logo_img {
      height: 2.5rem;
    }
    .logo_name {
      font-size: 1.5rem;
    }
  }

  .navbar {
    height: 2.5rem;
  }
}
